/////////////
// Helpers //
/////////////

.inline {
    display: inline;
}

.condensed {
    width: 1%;
    white-space: nowrap;
}

////////////
// Tables //
////////////

.inactive {
    background: $inactive;
    color: $white;
    a, a:visited, a:active {
        text-decoration: none;
        font-weight: normal;
        outline: 0;
        color: $white;
    }
    a:hover, a:focus {
        text-decoration: none;
        font-weight: normal;
        outline: 0;
        color: $white;
    }
    i {
        color: $white;
    }
}
