////////////
// COLORS //
////////////

// gray palette
$black:                             #000;
$grayDarker:                        #2c2d2d;
$grayDark:                          #333;
$gray:                              #60605f;
$grayLight:                         #999;
$grayLighter:                       #dedcda;
$grayLightest:                      #fafafa;
$white:                             #fff;

// accent palette
$gold:                              #ad9972;
$darkGreen:                         #393f39;
$beige:                             #dedcda;
$offWhite:                          #f6f3ee;
$blue:                              #049cdb;
$blueDark:                          #0064cd;
$green:                             #c8dec3;
$red:                               #cd5c5c;
$orange:                            #f89406;
$pink:                              #c3325f;
$purple:                            #7a43b6;
$powderBlue:                        #d5eaf1;
$cadetBlue:                         #5e8fc2;

//////////////
// DEFAULTS //
//////////////

// forms
$inputBorder:                       $grayLighter;
$formPlaceholder:                   $grayLight;
$formInput:                         $grayDark;
$formLabel:                         $grayLight;

// links
$a_active:                          $grayDark;
$a_hover:                           $black;

// selection
$selection:                         $powderBlue;
$p_selection:                       $powderBlue;

// miscellaneous
$bodyBackground:                    $white;
$iconColor:                         $grayDark;
$inactive:                          $red;

/////////////////////////
// BOOTSTRAP OVERRIDES //
/////////////////////////

// buttons
$btn-default-bg:                    $gray;
$btn-default-color:                 $white;
$btn-default-border:                $gray;

// input
$input-border:                      $grayLighter;
