////////////////////////////////////////////////////////////////////////////////
//                                                                            //
// Colors                                                                     //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

// gray palette
$black:                             #000;
$grayDarker:                        #333;
$grayDark:                          #464646;
$gray:                              #c4c4c4;
$grayLight:                         #999;
$grayLighter:                       #ddd;
$white:                             #fff;

// accent palette
$gold:                              #ad9972;
$darkGreen:                         #393f39;
$beige:                             #dedcda;
$offWhite:                          #f6f3ee;
$blue:                              #049cdb;
$blueDark:                          #0064cd;
$green:                             #c8dec3;
$red:                               #cd5c5c;
$orange:                            #f89406;
$pink:                              #c3325f;
$purple:                            #7a43b6;
$powderBlue:                        #d5eaf1;
$cadetBlue:                         #5e8fc2;
