//////////////
// WRAPPERS //
//////////////

#wrapper_fullscreen {
    min-width: 900px;
    height: 100%;
}

#content_fullscreen {
    width: calc(100% - 100px);
    height: calc(100% - 161px);
    margin: 50px auto;
}

#wrapper {
    min-width: 900px;
}

#content {
    width: calc(100% - 100px);
    margin: 50px auto 100px auto;
}

////////////////
// LOGIN PAGE //
////////////////

#login_wrapper {
    width: 402px;
    margin: auto auto;
    background: transparent;
    z-index: 100;
    #login_form {
        padding: 50px;
        border: 1px solid $grayDark;
        background: $white;
    }
    #login_meta {
        padding: 10px 50px;
        font-weight: 100;
        font-size: 12px;
        color: $grayLight;
        a, a:visited, a:active {
            color: $grayLight;
        }
        a:hover {
            color: $grayDarker;;
        }
    }
}
